[package]
name = "mock-lib"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
mock-lib-derive = { path = "../mock-lib-derive" }